@model List<Player>

<p>
    <table>
        <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Position</td>
                <td>Super Flex Rank</td>
        </tr>
        @{
        var i = 1;
        @foreach (Player player in Model)
           {
            <tr>
                <td>@i</td>
                <td>@player.playerName</td>
                <td>@player.position</td>
                <td>@player.SuperflexValues.positionalRank</td>
            </tr>
            i++;
           }
        }
    </table>
</p>