@model List<Player>

    <table>
        <tr>
               <td>Name</td>
               <td>Position</td>
               <td>Super Flex Rank</td>
        </tr>
            @foreach (Player player in Model)
           {
            <tr>
               <td>@player.playerName</td>
               <td>@player.position</td>
               <td>@player.SuperflexValues.positionalRank</td>
            </tr>
           }
    </table>